body{
    background-color: #535353;
    padding: 50px;
    color: #fff;
}
.container{
    width:1170px;
    padding-left:20px;
    padding-right:20px;
    margin: 20px;
}
.container h2{
    font-size: 35px;
    color: rgb(26, 0, 156);
}